.sec {

    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-new {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}


.bg-1 {
    background-image: url('../../assets//images/1.jpg');
    width: 100%;
}

.bg-2 {
    background-image: url('../../assets//images/2.jpg');
    width: 100%;
    height: 100vh;
}

.bg-3 {
    background-image: url('../../assets//images/3.jpg');
    width: 100%;
    height: 100vh;
}

.bg-4 {
    background-image: url('../../assets//images/4.jpg');
    width: 100%;
    height: 100vh;
}

.bg-5 {
    background-image: url('../../assets//images/5.jpg');
    width: 100%;
    height: 100vh;
}

.bg-6 {
    background-image: url('../../assets//images/6.jpg');
    width: 100%;
    height: 100vh;
}

.bg-7 {
    background-image: url('../../assets//images/footer.jpg');
    width: 100%;
    height: 100vh;
}

.sec-eve-day {
    font-size: 6vmin;
    font-weight: bolder;
}

.sec-eve-nam {
    font-size: 10vmin;
    font-weight: bolder;
    cursor: pointer;
}

.sec-eve-nam:hover {
    color: rgb(30, 104, 252);
}

.sec-det-eve {
    font-size: 4vmin;
    font-weight: bold;
}

.btn {

    margin-top: 15vh;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    background: transparent;
    font-weight: bold;
    padding: 3vh 3vw;
    cursor: pointer;
}

.btn:hover {
    border-color: rgb(30, 104, 252);
    color: rgb(30, 104, 252);
}

.sec-btn {
    background-image: url('../../assets//images/2.jpg');
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-1 {
    margin: 10px;
    font-size: 6vmin;
    letter-spacing: 10px;
    font-weight: bolder;
}

.font-2 {
    font-size: 3vmin;
    letter-spacing: 3px;
}

.venue {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 7%;
}

.icon-card {
    margin: 10px;
}

.icon {
    font-size: 9vmin;
}

.icon-h1 {
    font-size: 4vmin;
}

.icon-h2 {
    font-size: 4.5vmin;
}