
.sec {
   
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-new {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    text-align: center;
}


.bg-1{
    background-image: url('../../assets//images/1.jpg');
    width: 100%;
    height: 100vh;
}

.bg-2{
    background-image: url('../../assets//images/2.jpg');
    width: 100%;
    height: 100vh;
}

.bg-3{
    background-image: url('../../assets//images/3.jpg');
    width: 100%;
    height: 100vh;
}

.bg-4{
    background-image: url('../../assets//images/4.jpg');
    width: 100%;
    height: 100vh;
}
.bg-5{
    background-image: url('../../assets//images/5.jpg');
    width: 100%;
    height: 100vh;
}
.bg-6{
    background-image: url('../../assets//images/6.jpg');
    width: 100%;
    height: 100vh;
}

.sec-eve-day{
    font-size: 6vmin;
    font-weight: bolder;
}
.sec-eve-nam{
    font-size: 10vmin;
    font-weight: bolder;
    cursor: pointer;
}
.sec-eve-nam:hover{
    color: rgb(30, 104, 252);
}
.sec-det-eve{
    font-size: 4vmin;
    font-weight: bold;
}

.btn{

    margin-top: 15vh;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    background: transparent;
    font-weight: bold;
    padding: 3vh 3vw;
    cursor: pointer;
}
.btn:hover{
    border-color:  rgb(30, 104, 252);
    color:  rgb(30, 104, 252);
}

.eve-gallary{
   
    background-image: url('../../assets//images/2.jpg');
    width: 100%;
    height: 130vh;
}
.grid-container{
    display: grid;
    gap: 20px;
    grid-template-areas:
     "one"
    "two"
    "three"
    "four"

    ;
    
}
.grid-element{
  
}
.grid-elementbase{
   
display: flex;
flex-direction: column;
color: white;
text-align: center;
justify-content: center;
   grid-area: base;
    }
.grid-element1{
    background-image: url('../../assets/images/gal1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   grid-area: one;
    }
    .grid-element2{
        background-image: url('../../assets/images/gal2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    grid-area: two;
    }
    .grid-element3{  background-image: url('../../assets/images/gal3.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      grid-area: three;
    }
    .grid-element4{  background-image: url('../../assets/images/gal4.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
     grid-area: four;
    }
   

    .grid-container{
        grid-template-areas: 
        "base base base base"
        "one one two two"
        "three four two two";
       }


       
    .sec-btn{
        background-image: url('../../assets//images/2.jpg');
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }











       .font-1{
        margin: 10px;
        font-size: 6vmin;
        letter-spacing: 10px;
        font-weight: bolder;
       }
       .font-2{
        font-size: 3vmin;
        letter-spacing: 3px;
       }